body {
    background-color: rgb(93, 163, 255);
}
.calculator {
    background-color: #e1d8c9;
    border-radius: 15px;
    width: 400px;
    height: 270px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    position: absolute;
        top: 30%;
        left: 0;
        right: 0;
    margin: auto;
}

input[type="text"] {
    width: 370px;
    border-radius: 15px;
    border-color: #303941;
    border-width: 8px;
    height: 50px;
    font-size: 24px;
    margin: 10px 10px 10px 5px;
}

button {
    background-color: #303941;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin: 2px 2px 3px 4px;
    color: #eee7df;
}

button:hover {
    background-color: #21292f;
}

.operation {
    background-color: #fa821d;
    border-color: #fa821d;
}

.operation:hover {
    background-color: #a94c00;
}

.drawer {
    display: none;
    position: absolute;
        top: 50px;
        left: 0;
    background: #e1d8c9;
    width: 100px; 
    padding: 10px;
}

.drawer:active {
    display: block;
}