body {
    background-color: rgb(93, 163, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    display: inline-block;
    background-color: #e1d8c9;
    border-radius: 15px;
    width: 400px;
    height: 270px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

input[type="text"] {
    width: 370px;
    border-radius: 15px;
    border-color: #303941;
    border-width: 8px;
    height: 50px;
    font-size: 24px;
    margin: 10px 10px 10px 5px;
}

button {
    background-color: #303941;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin: 2px 2px 3px 4px;
    color: #eee7df;
}

.operation {
    background-color: #fa821d;
    border-color: #fa821d;
    font-size: large;
}